

.my-2 {
    Color: rgb(255, 255, 255);
    width: 0%;
}

.jumbo {
    /* The style for the jumbotron. The link does not go to the proper location, and causes the compile error */
    background-Image: url("/images/explanation_background.PNG");
    background-Size: cover;
}
