.team-card-deck{
    background-color:#C0E7F6;
    background-size: cover;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.team-card{
    color:#FF4500;
    max-width:"350px";
    max-height:"250px";
}

#title{
    font-size: 45px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#text{
    text-align: center;
    font-size: 20px;
    font-weight:300;
}

#img{
    min-height: 300px;
    min-width: 200px;
}